<!DOCTYPE html>
<html lang="en">
    <head>
        <title>new blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
        <link href="/public/css/main.css" rel="stylesheet">
    </head>
    <body>
    <h1>welcome to my blog!-yoyo</h1>
    <!--登录-->
    <div  class="container container-small">    
        <h2>Login</h2>
        <form>
            <!--<div id="tip" class="alert alert-success">登录成功~正在跳转...</div>-->
            <div class="form-group">
                <label for="">username</label>
                <input type="username" class="form-control">               
            </div>

            <div class="form-group">
                <label for="">password</label>
                <input type="pasword" class="form-control">               
            </div>
            <button type="submit" class="btn btn-primary btn-block" onclick="tip()">走你</button>
            <script>
               function tip(){
                   //点击走你触发进度提示
                //    document.getElementById("tip").style.visibility="visible";
                alert("快点写功能，人家不想再弹出来了");
               }
            </script>

        </form>
    </div>
<!--注册-->
    <div  class="container container-small">    
        <h2>Register</h2>
        <form>
            <!--<div id="tip" class="alert alert-success">登录成功~正在跳转...</div>-->
            <div class="form-group">
                <label for="">username</label>
                <input type="username" class="form-control">               
            </div>

            <div class="form-group">
                <label for="">password</label>
                <input type="pasword" class="form-control">               
            </div>

            <div class="form-group">
                <label for="">repassword</label>
                <input type="repasword" class="form-control">               
            </div>
            <button type="submit" class="btn btn-primary btn-block" onclick="tip()">走你注册</button>
            <script>
               function tip(){
                   //点击走你触发进度提示
                //    document.getElementById("tip").style.visibility="visible";
                alert("快点写功能，人家不想再弹出来了");
               }
            </script>

        </form>
    </div>
    </body>
</html>

        
        
        
 
    
    